//footer scss file

.footer-container {
  position: fixed;
  bottom: 0;
  background-color: $musikki-grey;
  width: 100%;
  z-index: 16;
  box-shadow: 0px -2px 5px rgba(50, 50, 50, 0.75);
}

.footer-text {
  text-align: center;
  height: 52px;
  line-height: 52px;
  font-size: 11px;
}
