//navbar scss file

.navbar-right {
  text-transform: uppercase;
}

.navbar-musikki {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-brand {
  img {
    height: 40px;
    margin-top: -10px;
  }
}
