.search-area {
  max-width: 800px;
  min-height: 500px;
  margin-top: 5%;
  background-color: $musikki-grey;
  border-radius: 5px;
  padding-top: 15px;
  form {
    margin: 25px;
    div {
      label {
        font-size: 18px;
      }
      button {
        min-width: 150px;
      }
    }
  }
}

.search-input {
  padding-right: 0;
}

.search-input, .search-artist-btn {
  padding-top: 25px;
}

.search-artist-btn {
  padding-left: 0;
  button {
    background-color: $search-btn;
    width: 100%;
    div {
      font-size: 16px;
      padding-left: 15px;
    }
  }
}

.search-display-info {
  display: block;
  height: 100px;
  padding: 6px;
  font-size: 12px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  div:first-child {
    img {
      height: 85px;
      width: 85px;
      border-radius: 50%;
      border: 1px solid black;
    }
  }
  div:last-child {
    img {
      margin: 15px 40px;
      height: 55px;
    }
  }
}

.search-display-info-text {
  margin-top: 10px;
  div:first-child {
    font-size: 16px;
    height: 34px;
  }
  div:last-child {
    padding-top: 10px;
  }
  div {
    span {
      font-weight: bold;
    }
    padding-bottom: 10px;
  }
}

.search-search-favorites {
  border: 1px solid darken($borders, 25%);
  border-radius: 4px;
  width: calc(50% - 1px);
  text-align: center;
}

.search-favorite {
  font-size: 60px;
  padding: 15px 35px;
}

.search-favorite-empty {
  color: $favorite-empty;
}

.search-favorite-full {
  color: $favorite-full;
}

.search-pagination {
  text-align: center;
}
