//module of used colors in scss files

$background-color: #212121;
$musikki-grey: #f8f8f8;
$borders: #eeeeee;
$search-btn: #44637d;
$search-text: #555555;
$favorite-empty: #e4e4e4;
$favorite-full: #4d96ce;
$error-message: #d9534f;
$sucess-message: #5cb85c;
