//module of used colors in scss files

$musikki-grey: #e8e8e8;
$borders: #eeeeee;
$search-btn: #44637d;
$favorite-empty: #e4e4e4;
$favorite-full: #4d96ce;
$error-message: #d9534f;
$sucess-message: #5cb85c;
